# Sensitive Data
.env

# Temporary PDF extraction directory
temp_pdfs/

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Logs
llm-poc/skeletax.log
llm-poc/skeletax_app.log

# Chroma DB
llm-poc/SkeletaX_chroma_db/
