# Sensitive Data
.env

# Temprorary PDF extration directory from zip file 
temp_pdfs/

# Virtual environment directory
venv/

# bytecode-compiled versions of Python files.
llm-poc\__pycache__/
*.pyc 

llm-poc\SkeletaX_chroma_db
*

llm-poc\skeletax.log
*

llm-poc\skeletax_app.log
*